*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.order_track{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

